// -----------------------
// Amate Web Site - Styles
// -----------------------

@baseColorTransparency: rgba(0,0,0,.7);
@color-light: #E2D6A9;
@color-disabled-font: #b9b9b9;

html, body {
  height: 100%;
  width: 100%;
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #000;
}

a {
  color: @color-light;
}

.content {
  padding-bottom: 120px;

  &.ng-enter {
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
    animation: fadeIn 4s;
  }

  &.ng-leave {
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
    animation: fadeOut 1s;
  }

  h3 {
    color: #fff;
    font-family: 'Euphoria Script',cursive;
    font-size: 6em;
    margin: 5px 0;
  }

  p.legend {
    font-size: 2em;
    margin: 20px auto 30px;
    color: #fff;
    width: 80%;
    font-family: 'Poiret One',cursive;
  }

  .main-content {
    width: 80%;
    border: 1px solid #666;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(1,1,1,0.8);
  }
}

// -----------------------------
// Language Control
// -----------------------------
.activeButton() {
  background-color: @color-light;
  color: #000;
}

.inactiveButton() {
  color: @color-disabled-font;
}

body {
  &.lang-esp {
    *.lang-eng {
      display: none;
    }

    button {
      &.btn-lang.esp {
        .activeButton();
      }
    }
  }

  &.lang-eng {
    *.lang-esp {
      display: none;
    }

    button {
      &.btn-lang.eng {
        .activeButton();
      }
    }
  }
}

header {
  background-color: @baseColorTransparency;
  border-bottom: 1px solid #555;
  text-align: center;

  .language-selection {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .logo {
    padding: 10px 0;
  }

  h1, h2 {
    display: inline-block;
  }

  h1 {
    font-family: 'Euphoria Script', cursive;
    padding-right: 10px;

    a {
      color: #fff;
      &:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 10px #fff;
      }
    }
  }

  h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    color: @color-light;
    border-left: 1px solid @color-light;
    padding-left: 10px;
  }

}

nav {
  margin: 5px auto;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-size: 1.6em;
  font-family: 'Poiret One', cursive;

  .button {
    display: inline-block;
    border: 1px solid @color-light;
    border-radius: 4px;
    padding: 8px 0;

    a {
      height: 100%;
      padding: 8px;
      color: @color-light;
      text-decoration: none;
    }

    &:hover {
      box-shadow: 0 0 2px #fff;
      text-shadow: 0 0 2px #fff;
    }
  }
}

footer {
  background-color: @baseColorTransparency;
  border-bottom: 1px solid #555;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-size: 1.8em;
  font-family: 'Poiret One',cursive;
  width: 100%;
  position: fixed;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  bottom: -107px;

  &.up {
    bottom: 0;
  }

  .handler {
    margin-bottom: 15px;

    span.name {
      display: block;
      font-family: 'Montez',cursive;
      font-size: 2em;
      margin-bottom: 0;
    }

    span.glyphicon {
      top: -7px;
    }
  }

  dl {
    margin: 0 auto;
    width: 100%;

    dt, dd {
      display: inline-block;
      text-align: center;
    }

    dt {
      text-align: right;
    }

    dd {
      text-align: center;
      margin-right: 15px;
    }

  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1, h2 {
  margin: 0;
}


// ---------------------------------------------------------------------------
// Home
// ---------------------------------------------------------------------------
.home header {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 0;
  padding-top: 30px;
  top: 25%;
  position: absolute;
  margin: 0;
  color: #fff;
  text-align: center;
  float: left;

  .logo {
    width: 500px;
    margin: 0 auto 40px;
    position: relative;

    h1 {
      font-size: 10em;
      display: block;
    }

    h2.by {
      float: right;
      font-size: 3.4em;
      color: #FFEB79;
      margin-top: -11px;
      font-family: 'Montez',cursive;
    }

  }

  .language-selection {
    top: 20px;
    position: absolute;
    float: right;
    margin-right: 20px;
  }

  h2 {
    font-size: 4em;
    border-left: none;
  }

  nav {
    display: block;
    padding: 0;
    font-size: 1.9em;
    margin: 30px auto;
    font-weight: bolder;

    .button {
      margin: 0 .4em;

      a {
        padding-left: 30px;
        padding-right: 30px;
        color: #FFEB79;
        background-color: transparent;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
        border-radius: 2px;
        height: 100%;

        &:hover {
          background-color: #FFEB79;
          color: #9A5E36;
        }
      }
    }
  }
}

// ---------------------------------------------------------------------------
// Gallery
// ---------------------------------------------------------------------------
.pp_content_container {
  img.watermark {
    opacity: 0.5;
  }
}
.gallery {
  .main-content {

    .gallery-filters {
      z-index: 10;
      top: 145px;
      position: fixed;
      border: 1px solid #b9b9b9;
      left: 0;
      text-align: left;
      width: 150px;
      background-color: @baseColorTransparency;

      div.filters {
        width: 100%;
        margin: 5px 0 0 10px;
        display: inline-block;

        button {
          margin: 3px 0;
          clear: both;
          float: left;
          text-transform: uppercase;
          font-size: 1.2em;
          padding: 2px 4px;
          border-radius: 2px;

          &.active {
            background-color: #5B2E11;
            color: @color-light;
          }
        }

        &.material {
          button {
            background-color: #E0CA9B;

            &.active {
              background-color: #5B2E11;
              color: @color-light;
            }
          }

        }

        &.accesories {
          button {
            background-color: #FDCEB2;

            &.active {
              background-color: #5B2E11;
              color: @color-light;
            }
          }
        }

        &.other {
          button {
            background-color: #DFB293;

            &.active {
              background-color: #5B2E11;
              color: @color-light;
            }
          }
        }
      }
    }

    #images-gallery {
      div.work_in_progress {
        color: #fff;
        font-size: 2.4em;
        margin: 20px auto 30px;
        color: #fff;
        width: 80%;
        font-family: 'Poiret One',cursive;
        border: 1px solid #fff;
        padding: 10px;
      }

      div.mix {
        display: none;
        max-width: 31%;
        max-height: 200px;
        margin: 5px;
        border: 2px solid #666;

        div.image {
          background-size: 100%;
          background-repeat: no-repeat;
          transition: 200ms;

          &:hover {
            background-position: 0 -25px;
          }

          img {
            max-width: 100%;
          }

          img.watermark {
            opacity: .5;
          }
        }
      }

    }
  } // .main-content
}
// social on prettyPhoto
div.pp_default .pp_social {
  display: none;
}

// ---------------------------------------------------------------------------
// About
// ---------------------------------------------------------------------------
.about {
  h2 {
    font-family: 'Amatic SC',cursive;
    font-size: 4em;
    color: #e2d6a9;
  }
  section p {
    font-size: 1.8em;
    color: #fff;
  }
}
// ---------------------------------------------------------------------------
// Contact
// ---------------------------------------------------------------------------
.contact {

  form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
    color: #fff;
  }

  form input.ng-valid.ng-dirty {
    background-color: #78FA89;
  }

  .alert {
    font-size: 1.5em;
    display: none;
  }

  .form-control, .input-group {
    margin: 0 auto 10px auto;
    width: 60%;
  }

  .input-group {
    width: 30%;
    display: inline-table;
  }

  .input-group .form-control {
    margin: 0 auto;
    width: 100%;
  }

  button {
    font-size: 1.4em;
    text-transform: uppercase;
  }
}
// MEDIA QUERIES

/* Large desktop */
@media(min-width:1200px){
}

/* Portrait tablet to landscape and desktop */
@media(min-width:768px)and(max-width:979px){
  footer {
    bottom: -117px;
  }

  // ---------------------------------------
  // Home
  // ---------------------------------------
  .home header {
    // background-color: #fff;
    h2.by {
      width: auto;
      right: 25%;
    }
  }

  // ---------------------------------------
  // Gallery
  // ---------------------------------------
  .gallery {
    .main-content {
      #images-gallery {
        padding: 0 20px;
        div.mix {
          max-width: 40%;
        }
      }
    }
  }
}

/* Landscape phone to portrait tablet */
@media(max-width:767px){
  body, html {
    font-size: 7px;
  }

  .content .main-content {
    width: 100%;
    margin: 0;

    p.legend {
      display: none;
    }
  }

  nav {
    padding: 5px;
    margin: 0;
  }

  header {
    margin-bottom: 0;
    .logo {
      padding: 5px;
    }
    .language-selection {
      top: 60px;
      right: 2px;

      button {
        border-color: #999;
        font-size: 1.8em;
        padding: 3px 5px;
      }
    }
  }

  footer {
    bottom: -90px;
  }

  // ---------------------------------------
  // Home
  // ---------------------------------------
  .home header {
    font-size: 1em;
    .logo {
      width: 400px;
    }

    h2.by {
      margin-right: 85px;
      width: auto;
      right: -7%;
    }

    .language-selection {
      top: 10px;
      margin: 0;

      button {
        font-size: 1.6em;
        padding: 5px;
      }
    }
  }

  // ---------------------------------------
  // Gallery
  // ---------------------------------------
  .gallery {
    .main-content {
      .gallery-filters {
        font-size: 1.3em;
        position: static;
        width: auto;

        div.filters {
          display: inline-block;
          clear: none;
          width: auto;
          margin: 2px 5px;

          button {
            clear: none;
            margin: 2px;
          }
        }
        .filterClass {
          width: 90%;
        }
      }

      #images-gallery {
        div.mix {
          max-width: 100%;
        }
      }
    }
  }

  .contact {
    .form-control, .input-group {
      width: 90%;
    }

    .input-group {
    }

    .input-group .form-control {
      width: 100%;
    }
  }

  // ---------------------------------------
  // About
  // ---------------------------------------
  .about {
     section {
      h2 {
        margin-top: 20px;
      }
      p {
        font-size: 2.4em;
      }
    }
  }
}// max-width:767px
